---
name: test

on:
  push:
    branches:
      - master
  pull_request:

env:
  GO111MODULE: "on"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      go-latest-version: ${{ steps.find-go-version.outputs.go-latest-version }}
      go-supported-versions: ${{ steps.find-go-version.outputs.go-supported-versions }}
    steps:
      - id: find-go-version
        uses: nhatthm/gh-actions/find-go-version@master

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        go-version: ${{ fromJson(needs.setup.outputs.go-supported-versions) }}
    runs-on: ${{ matrix.os }}
    needs: [setup]
    env:
      GO_LATEST_VERSION: ${{ needs.setup.outputs.go-latest-version }}
    steps:
      - name: Install Go
        uses: nhatthm/gh-actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Go cache
        uses: actions/cache@v3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-cache

      - name: Test
        id: test
        run: |
          make test

      - name: Upload code coverage (unit)
        if: matrix.go-version == env.GO_LATEST_VERSION
        uses: codecov/codecov-action@v3
        with:
          files: ./unit.coverprofile
          flags: unittests-${{ runner.os }}

    #  - name: Upload code coverage (features)
    #    if: matrix.go-version == env.GO_LATEST_VERSION
    #    uses: codecov/codecov-action@v1
    #    with:
    #      file: ./features.coverprofile
    #      flags: featurestests-${{ runner.os }}
